---
import Layout from '../layouts/Layout.astro';
---

<Layout title="reid scoggin">
  <main>
    <article class="region prose wrapper hero">
      <h1>reid scoggin</h1>

      <h2>
        🇨🇱* Texas-native SRE, full-stack developer and founder
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>infrastructure</h3>
          <p>
            Provisioning and managing cloud Kubernetes infrastructure, declarative IaC gitops, CI/CD, monitoring, and scaleable systems. Experienced with AWS and GCP, but I prefer to run things myself. I can design that deployment.
          </p>
        </li>

        <li class="flow">
          <h3>software</h3>
          <p>
            Experienced writing bespoke web application backends and internal tooling & automations with a preference for Golang, as well as experience developing modern JS web application frameworks like Vue and Svelte. I can implement that feature.
          </p>
        </li>

        <li class="flow">
          <h3>hardware</h3>
          <p>
            Designing and deploying colocated or on-prem hardware configurations, including networking, storage, and compute. I can build that rack.
          </p>
        </li>

        <li class="flow">
          <h3>digital freedom</h3>
          <p>
            My interests and preferences center around tools that augment individual agency; in particular, I have spent several years focused on building on and with <a href="https://urbit.org">Urbit</a>, a novel computer architecture and software stack designed to enable data ownership and computational self-sovereignty. I can learn that system.
          </p>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      <p class="footer-text">*I know, we don't have a Texan flag emoji yet</p>
    </footer>
  </main>
</Layout>
