---
import Layout from '../layouts/Layout.astro';
---

<Layout title="reid scoggin">
  <main>
    <article class="prose grid wrapper">
      <article class="region prose wrapper hero header">
        <div class="header-text">
          <h1>reid scoggin</h1>

          <h2>
            Texas-native SRE, full-stack developer and founder
          </h2>
        </article>
      </div>
      <div class="header-image"><img src="images/reid24.png"></div>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>infra generalist</h3>
          <p>
            Provisioning and managing cloud Kubernetes infrastructure, declarative IaC gitops, CI/CD, monitoring, and scaleable systems. Experienced with AWS and GCP. Linux-enjoyer. 
          </p>
        </li>

        <li class="flow">
          <h3>software</h3>
          <p>
            Experienced writing sophisticated web application backends, and administrative tooling & automations with a preference for Golang; experience developing with reactive JS web application frameworks like Vue and Svelte.
          </p>
        </li>

        <li class="flow">
          <h3>hardware</h3>
          <p>
            Designing and deploying colocated or on-prem hardware configurations, including networking, storage, and compute. Cofounded and coded for a special-purpose consumer hardware <a href="https://nativeplanet.io">company</a> with my friends.
          </p>
        </li>

        <li class="flow">
          <h3>digital freedom</h3>
          <p>
            I've spent several years focused on building on and with <a href="https://urbit.org">Urbit</a>, a novel computer architecture and software stack designed to enable data ownership and computational self-sovereignty. I work on the hosting team for <a href="https://tlon.io">Tlon Corporation</a>.
          </p>
        </li>

        <li class="flow">
          <h3>online</h3>
          <p>
            <code>~sitful-hatred</code><br>
            <a href="https://github.com/yapishu">Github</a><br>
            <a href="https://x.com/sitful_hatred">X</a><br>
          </p>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
    </footer>
  </main>
</Layout>
